.sidebar {
  display: sticky;

  ul {
    list-style: none;

    & ul {
      margin: 1vh 0;
    }

    .menu-title {
      display: block;
      font-weight: 300;
      font-size: 1.2rem;
    }

    li {
      a {
        text-decoration: none;
        color: #787d85;
        transition: 0.3s;
        border: 2px solid rgb(255, 255, 255);

        &:hover {
          color: var(--bs-indigo);
          border-bottom-color: var(--bs-indigo);;
        }
      }
    }
  }
}

.container-fluid {
  flex-grow: 2;
}

.content {
  min-height: 100vh;
}
