<!--<scp-tela-base title="Cadastro de Empresa">-->
<!--    <form class="mt-3 mb-3" [formGroup]="frmInstituicaoEnsino">-->
<!--        <mat-card-subtitle>Informações da empresa</mat-card-subtitle>-->
<!--        <scp-row>-->
<!--            <scp-col [sizes]="cpfCnpjControlSize">-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>CNPJ/CPF</mat-label>-->
<!--                    <input matInput formControlName="cpf_cnpj">-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>Nome da Empresa</mat-label>-->
<!--                    <input matInput formControlName="nome">-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--        </scp-row>-->
<!--        <mat-card-subtitle>Endereço</mat-card-subtitle>-->
<!--        <scp-row>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>CEP</mat-label>-->
<!--                    <input matInput>-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>Pais</mat-label>-->
<!--                    <input matInput>-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>UF</mat-label>-->
<!--                    <input matInput>-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--        </scp-row>-->
<!--        <scp-row>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>Cidade</mat-label>-->
<!--                    <input matInput>-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>Bairro</mat-label>-->
<!--                    <input matInput>-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>Rua</mat-label>-->
<!--                    <input matInput>-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>Nº</mat-label>-->
<!--                    <input matInput>-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--        </scp-row>-->
<!--        <mat-card-subtitle>Outras informações</mat-card-subtitle>-->
<!--        <scp-row>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>Atividade</mat-label>-->
<!--                    <input matInput formControlName="atividade">-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>Nome Responsável</mat-label>-->
<!--                    <input matInput formControlName="">-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--        </scp-row>-->
<!--        <scp-row>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>E-mail Responsável</mat-label>-->
<!--                    <input type="email" matInput>-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--            <scp-col>-->
<!--                <mat-form-field appearance="fill" class="d-block">-->
<!--                    <mat-label>Quantidade de Funcionários</mat-label>-->
<!--                    <input type="number" matInput>-->
<!--                </mat-form-field>-->
<!--            </scp-col>-->
<!--        </scp-row>-->
<!--    </form>-->

<!--    <button actions mat-flat-button color="primary">Confirmar</button>-->
<!--</scp-tela-base>-->
