<!--<scp-tela-base title="Política de Privacidade">-->
<!--    <p><em>Última modificação: 12 de novembro de 2021</em></p>-->

<!--    <h2>1. INTRODUÇÃO A POLÍTICA DE PRIVACIDADE</h2>-->
<!--    <p>-->
<!--        Este aplicativo (SisCoP – Sistema de Controle de Presença) e o Portal SisCoP são mantidos pelo professor Dilermando Piva Junior, pesquisador junto a Faculdade de Tecnologia da Fatec Itu. Estes sistemas foram desenvolvidos como parte do projeto de pesquisa do presente pesquisador junto a esta unidade de ensino (Fatec Itu) mantida pelo Centro Paula Souza.-->
<!--    </p>-->
<!--    <p>-->
<!--        O presente pesquisador, Dilermando Piva Junior, valoriza a privacidade de seus usuários e criou esta política para demonstrar o seu compromisso em proteger a sua privacidade e seus dados pessoais, nos termos da Lei Geral de Proteção de Dados e demais leis sobre o tema, bem como descrever de que forma sua privacidade é protegida ao utilizar o aplicativo SisCoP e em seus processos de coleta, tratamento e armazenamento de suas informações pessoais. Em caso de dúvidas relacionadas ao exercício de seus direitos, não deixe de contatar o mantenedor deste aplicativo pelo e-mail: piva.jr@fatec.sp.gov.br.-->
<!--    </p>-->
<!--    <p>-->
<!--        Esta Política descreve quais dados pessoais são coletados pelo sistema SisCoP e seu mantenedor: Dilermando Piva Junior, CPF 120.751.688-06, com sede profissional na Faculdade de Tecnologia de Itu, localizada na Av. Tiradentes, 1211, Itu, SP., titular da propriedade intelectual sobre software, website, aplicativos, conteúdos e demais ativos digitais ou não, relacionados aos produtos e serviços do SisCoP, em sua relação com os usuários desses Serviços.-->
<!--    </p>-->
<!--    <h2>2. COLETA DE DADOS PESSOAIS</h2>-->
<!--    <p>-->
<!--        O aplicativo SisCoP e o Portal SisCoP coletam dados pessoais, ou seja, trata informações que venham a identificar ou que torne identificável uma pessoa natural.-->
<!--    </p>-->
<!--    <p>-->
<!--        A seguir, estão dispostas as fontes, categorias, finalidades e as bases legais dessas coletas de dados:-->
<!--    </p>-->

<!--    <h3>2.1 Cadastro no aplicativo</h3>-->

<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Fonte</th>-->
<!--                <th>Dados Pessoais</th>-->
<!--                <th>Finalidade</th>-->
<!--                <th>Base Legal</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr>-->
<!--                <td rowspan="2">Cadastro inicial no aplicativo</td>-->
<!--                <td>E-mail e nome completo</td>-->
<!--                <td>Realizar o cadastramento de um usuário no aplicativo SisCoP</td>-->
<!--                <td>Art. 7º, inciso I, da Lei 13.709/2018** - mediante o fornecimento de consentimento pelo titular</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Face do usuário</td>-->
<!--                <td>A foto da face do usuário é coletada para a definição das features* de cada usuário. As features, uma vez definidas, são empregadas para o reconhecimento facial, em momentos posteriores de utilização do sistema</td>-->
<!--                <td>Art. 11, inciso I, da Lei 13.709/2018 - quando o titular ou seu responsável legal consentir, de forma específica e destacada, para finalidades específicas</td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <p class="mb-0"><small>*Features – conjunto de números resultante da análise das características morfológicas da face de uma pessoa, o qual identifica de forma inequívoca aquela pessoa.</small></p>-->
<!--    <p><small>**Lei n. 13.709/2018 – Lei Geral de Proteção de Dados Pessoais</small></p>-->

<!--    <h3>2.2 Login ou Acesso ao Aplicativo SisCoP (através de reconhecimento facial e senha)</h3>-->
<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Fonte</th>-->
<!--                <th>Dados Pessoais</th>-->
<!--                <th>Finalidade</th>-->
<!--                <th>Base Legal</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr>-->
<!--                <td>Login de Acesso ao Aplicativo SisCoP (através de reconheciment o facial e senha pessoal, definida no cadastramento)</td>-->
<!--                <td>Features do usuário cadastrado (biometria) para identificação do login do usuário e a senha registrada no ato do cadastramento</td>-->
<!--                <td>Proteger o acesso ao aplicativo SisCoP apenas às pessoas devidamente registradas e autorizadas através do reconhecimento facial no aplicativo e senha.</td>-->
<!--                <td>Art. 11, inciso I, da Lei 13.709/2018 - quando o titular ou seu responsável legal consentir, de forma específica e destacada, para finalidades específicas</td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    <h3>2.3 Registro de Presença (através de reconhecimento facial)</h3>-->
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Fonte</th>-->
<!--            <th>Dados Pessoais</th>-->
<!--            <th>Finalidade</th>-->
<!--            <th>Base Legal</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <td>Registro de Presença (através de reconheciment o facial e senha)</td>-->
<!--            <td>Features do usuário cadastrado (biometria) para identificação do registro de presença, sua geolocalização (latitude e longitude), data (dd/mm/aaa) e hora (hh:mm).</td>-->
<!--            <td>Garantir a segurança e a identidade do usuário que pretende registrar a sua presença em um local, data e hora específicos.</td>-->
<!--            <td>Art. 11, inciso I, da Lei 13.709/2018 - quando o titular ou seu responsável legal consentir, de forma específica e destacada, para finalidades específicas</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    <h3>2.4 Registro de Usuário no Portal SisCoP</h3>-->
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Fonte</th>-->
<!--            <th>Dados Pessoais</th>-->
<!--            <th>Finalidade</th>-->
<!--            <th>Base Legal</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <td>Registro de Usuário do Aplicativo SisCoP realizado pela Instituição gestora do usuário.</td>-->
<!--            <td>Nome Completo, endereço de e-mail, CPF, Endereços de trabalho/estudo e Horários de Trabalho/Estudo.</td>-->
<!--            <td>Permitir que apenas os usuários cadastrados possam acessar o aplicativo SisCoP e utilizá-lo. Com isso, garantir  e fortalecer a segurança dos dados coletados.</td>-->
<!--            <td>Art. 11, inciso I, da Lei 13.709/2018 - quando o titular ou seu responsável legal consentir, de forma específica e destacada, para finalidades específicas</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    <h2>3. Compartilhamento de Dados Pessoais</h2>-->
<!--    <p>Todos os dados pessoais coletados pelo aplicativo SisCoP e pelo Portal SisCoP estão relacionados com os Serviços oferecidos e serão utilizados para que o aplicativo possa viabilizar o acesso do usuário aos Serviços, bem como aperfeiçoar os Serviços prestados, a experiência do usuário com o SisCop, o desenvolvimento de novos Serviços que sejam do seu interesse e de parcerias e associações que o aplicativo e o portal SisCoP possam fazer no futuro.</p>-->
<!--    <p>Nos casos em que for necessário para a prestação dos Serviços, dentro dos limites da Lei n. 13.709/2018 (Lei Geral de Proteção de Dados Pessoais), o aplicativo e portal SisCoP poderão compartilhar os dados pessoais com as empresas Gestoras dos usuários do sistema, tais como Instituições de Ensino, Empresas, Empregadores Pessoa-Física entre outros. Estabelece-se aqui, ao usuário se cadastrar no aplicativo SisCoP, a concordância com esse compartilhamento de informações com a Instituição Gestora do presente usuário.</p>-->
<!--    <p>Os dados pessoais coletados podem, ainda, vir a ser compartilhados, internamente, com outros pesquisadores e desenvolvedores ligados ao presente projeto de pesquisa, para o desempenho exclusivo de suas funções, de acordo com instruções expressas e mediante obrigação contratual de sigilo e confidencialidade dos dados pessoais tratados.</p>-->

<!--    <h2>4. COOKIES</h2>-->
<!--    <p>-->
<!--        Cookies são pequenos arquivos armazenados no seu navegador, celular ou outro dispositivo. Essas tecnologias poderão ser usadas durante a sua navegação no aplicativo e no portal SisCoP para transmitir, proteger e entender a utilização dos Serviços, a fim de melhorar a execução das atividades do SisCoP.-->
<!--    </p>-->

<!--    <h2>5. ARMAZENAMENTO DE DADOS PESSOAIS</h2>-->
<!--    <p>Os dados pessoais armazenados pelo aplicativo e pelo portal SisCoP permanecem retidos por um prazo que poderá variar de acordo com a finalidade do tratamento dos dados pessoais, bem como do Portal SisCoP cujo usuário está integrando.</p>-->
<!--    <p>Atualmente, utilizamos as plataformas Interna e Firebase, para armazenamento dos diversos dados coletados do usuário.</p>-->
<!--    <p>Ressaltamos que o usuário, titular dos dados pessoais, pode excluir seus dados no aplicativo através das configurações no botão “Limpar Dados”.</p>-->

<!--    <h2>6. SEGURANÇA DA INFORMAÇÃO</h2>-->
<!--    <p>O aplicativo e o portal SisCoP procuram seguir – e se comprometem a implementar de maneira contínua – as melhores práticas e recomendações do mercado relacionados à Segurança da Informação e por essa razão buscam adotar salvaguardas físicas, técnicas e administrativas, para a proteção dos dados pessoais dos usuários.</p>-->
<!--    <p>Busca-se, assim, proteger os dados dos usuários contra acessos não autorizados, situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito.</p>-->
<!--    <p>Desta maneira, o aplicativo e o portal SisCoP limitam o acesso à informação e os recursos de processamento apenas às partes interessadas que se encontram autorizadas para tais usos, utiliza criptografia nas plataformas de armazenamento dos dados coletados FireBase e API Interna, firma termos de confidencialidade, utiliza registros de eventos (log) das atividades dos usuários e realização de gerenciamento de direitos de acesso privilegiado do FireBase Store.</p>-->
<!--    <p>Ainda, a fim de proteger os dados pessoais dos usuários contra acessos não autorizados, o aplicativo e o portal SisCoP recomendam que você mantenha senhas de acesso aos Serviços fortes e de ótima qualidade, não compartilhe com terceiros, mesmo que de sua confiança, suas senhas e credenciais de acesso aos Serviços e tokens disponibilizados pelo aplicativo e pelo portal SisCoP para a validação de funcionalidades, e se proteja contra o uso não autorizado dos seus dispositivos de acesso.</p>-->

<!--    <h2>7. TRANSFERÊNCIA INTERNACIONAL DE DADOS</h2>-->
<!--    <p>O presente pesquisador e mantenedor, Dilermando Piva Junior, responsável pelo aplicativo e pelo portal SisCoP, alinhado às práticas e tecnologias mais atuais, poderá armazenar seus dados pessoais em servidores localizados fora do território nacional, incluindo, mas não se restringindo, a servidores de computação em nuvem que seguem padrões internacionais aceitos para segurança de dados pessoais.</p>-->
<!--    <p>Nos casos mencionados acima, o presente pesquisador se compromete a respeitar a legislação aplicável para assegurar a proteção dos seus dados pessoais, através de práticas como a celebração de acordos contratuais apropriados.</p>-->

<!--    <h2>8. DIREITOS DO TITULAR DE DADOS PESSOAIS</h2>-->
<!--    <p>Estamos comprometidos com o cumprimento dos direitos dos titulares de dados pessoais, portanto o SisCoP adota medidas técnicas e organizacionais apropriadas para cumprir as suas obrigações em relação aos seus direitos enquanto titular dos dados pessoais.</p>-->
<!--    <p>Nesse sentido, o aplicativo e o portal SisCoP se compromete a viabilizar da melhor forma possível os seus direitos tais quais previstos em lei. Saiba quais são eles:</p>-->

<!--    <strong>Direitos e explicações:</strong>-->

<!--    <ol>-->
<!--        <li>Confirmação e Acesso: Você pode solicitar ao professor Dilermando Piva Junior a confirmação sobre a existência de tratamento dos seus Dados Pessoais para que, em caso positivo, você possa acessá-los, inclusive por meio de solicitação de cópias dos registros que temos sobre você.</li>-->
<!--        <li>Correção: Você pode solicitar a correção dos seus Dados Pessoais caso estes estejam incompletos, inexatos ou desatualizados.</li>-->
<!--        <li>Anonimização, bloqueio ou eliminação: Você pode solicitar (a) a anonimização dos seus Dados Pessoais, de forma que eles não possam mais ser relacionados a você e, portanto, deixem de ser Dados Pessoais (cabe ressaltar que essa medida, inviabilizará a utilização a partir desse momento do aplicativo SisCoP); (b) o bloqueio dos seus Dados Pessoais, suspendendo temporariamente a sua possibilidade de os tratarmos para certas finalidades; e (c) a eliminação dos seus Dados Pessoais, caso em que deveremos apagar todos os seus Dados Pessoais sem possibilidade de reversão.</li>-->
<!--        <li>Portabilidade: Você pode solicitar que o professor Dilermando Piva Junior forneça os seus Dados Pessoais em formato estruturado e interoperável visando a sua transferência para um terceiro, desde que essa transferência não viole a propriedade intelectual ou segredo de negócios da Empresa.</li>-->
<!--        <li>Informação sobre o compartilhamento: Você tem o direito de saber quais são as entidades com as quais a Empresa realiza uso compartilhado dos seus Dados Pessoais. Manteremos, no item 3 dessa Política, uma indicação das nossas relações com terceiros que podem envolver o compartilhamento de Dados Pessoais. Em todo caso, se você tiver dúvidas ou quiser mais detalhes, você tem o direito de nos solicitar essas informações. A depender do caso, podemos limitar as informações fornecidas a você, caso a sua divulgação possa violar a propriedade intelectual ou segredo de negócios da Empresa.</li>-->
<!--        <li>Informação sobre a possibilidade de não consentir: Você tem o direito de receber informações claras e completas sobre a possibilidade e as consequências de não fornecer consentimento, quando ele for solicitado pelo aplicativo e pelo portal SisCoP. O seu consentimento, quando necessário, deve ser livre e informado. Portanto, sempre que pedirmos seu consentimento, você será livre para negá-lo – nesses casos, é possível que alguns serviços não possam ser prestados.</li>-->
<!--        <li>Revogação do consentimento: Caso você tenha consentido com alguma finalidade de tratamento dos seus Dados Pessoais, você pode sempre optar por retirar o seu consentimento. No entanto, isso não afetará a legalidade de qualquer Tratamento realizado anteriormente à revogação. Se você retirar o seu consentimento, é possível que fiquemos impossibilitados de lhe prestar certos serviços, mas iremos avisá-lo quando isso ocorrer.</li>-->
<!--    </ol>-->

<!--    <p>Destacamos, ainda, que você poderá acessar a nossa Política de Privacidade ao realizar o primeiro cadastro, bem como acessá-la posteriormente a partir das configurações do aplicativo.</p>-->

<!--    <h2>9. ENCARREGAMENTO PELO TRATAMENTO DE DADOS PESSOAIS (DPO)</h2>-->
<!--    <p>Caso queira exercer algum dos direitos previstos nesta Política de Privacidade, ou tenha qualquer dúvida sobre este documento e as práticas nele descritas, você deverá entrar em contato com o professor Dilermando Piva Junior, por meio do endereço de e-mail: piva.jr@fatec.sp.gov.br.</p>-->
<!--    <p>Nome: Dilermando Piva Junior</p>-->
<!--    <p>Endereço: Faculdade de Tecnologia de Itu. Av. Tiradentes, 1211, Itu, SP.</p>-->

<!--    <h2>10. CONDIÇÕES E TERMOS DE USO</h2>-->
<!--    <ol>-->
<!--        <li>A utilização do aplicativo SisCoP, seja no cadastramento, no Portal SisCoP ou de conteúdos nestes expostos sujeita o usuário à observância e às disposições aqui apresentadas.</li>-->
<!--        <li>O professor Dilermando Piva Junior se reserva o direito de atualizar e modificar periodicamente quaisquer de seus documentos jurídicos, incluindo esta Política de Privacidade.</li>-->
<!--        <li>O professor Dilermando Piva Junior se reserva o direito de permitir, nos casos em que estritamente necessário, auditoria legal para fins de operações societárias, como fusão, aquisição ou venda de todos os ativos do SisCoP, seu projeto, ou de parte de cada um dele, e transferir as informações para o novo proprietário, caso a propriedade ou o controle do total ou de uma parte do SisCoP ou seus ativos seja alterado. As disposições presentes nesta Política de Privacidade continuarão a ser aplicadas aos seus dados pessoais caso venham a ser transferidas para o novo proprietário.</li>-->
<!--        <li>O professor Dilermando Piva Junior poderá responder, dentro do estritamente necessário, a solicitações de autoridades judiciais, administrativas ou arbitrais (ex.: ordem judicial, mandado de busca ou intimação), se o professor Dilermando Piva Junior entender, de boa-fé, que é necessário fazê-lo ou assim for exigida em lei ou por decisão judicial, administrativa ou arbitral, e permitir o cumprimento e a execução de obrigações legais e regulatórias, por meio de exigências de compartilhamento dos dados pessoais com as autoridades competentes dentro do estritamente necessário.</li>-->
<!--        <li>O professor Dilermando Piva Junior está em constante busca de melhoria para oferecer a você a melhor experiência possível na utilização dos Serviços. No entanto, os Serviços são oferecidos da forma como se encontram, de modo o professor Dilermando Piva Junior pode implementar mudanças, alterações, adições, supressões e quaisquer outras formas de modificação nos Serviços.</li>-->
<!--        <li>Você pode deixar de usar o aplicativo SisCoP a qualquer momento. Da mesma forma, o aplicativo SisCoP também poderá deixar de prestar os Serviços a você a qualquer momento, bem como incluir ou criar novos limites aos Serviços.</li>-->
<!--        <li>Se você não concordar com qualquer alteração a esta Política, você deverá interromper o uso do SisCoP. Caso contrário, o uso posterior dos Serviços acarretará seu consentimento à nova versão da Política.</li>-->
<!--        <li>O aplicativo SisCoP, e seu mantenedor, pode disponibilizar informações adicionais a você sobre as suas práticas de tratamento de dados pessoais relacionadas a determinados Serviços. Essas informações podem complementar ou esclarecer as práticas da privacidade do aplicativo SisCoP, bem como de seu portal SisCoP, ou fornecer a você escolhas adicionais sobre como o aplicativo e o portal SisCoP efetuam o tratamento de dados pessoais. De todo modo, o aplicativo e o portal SisCoP se compromete a seguir as obrigações legais e regulatórias aplicáveis ao tratamento de dados pessoais e ao seu setor de atuação.</li>-->
<!--        <li>As cláusulas desta Política de Privacidade seguirão vigentes a qualquer forma de terminação, ocorrida por qualquer motivo, de modo a continuar a produzir efeitos sobre as partes enquanto houver relações jurídicas subsequentes.</li>-->
<!--        <li>VOCÊ RECONHECE QUE AS PECULIARIDADES SOBRE A COLETA, O TRATAMENTO E O COMPARTILHAMENTO DE DADOS DO APLICATIVO SISCOP E DO PORTAL SISCOP FORAM SUFICIENTEMENTE DESCRITAS NESTA POLÍTICA E QUE O APLICATIVO SISCOP, O PORTAL SISCOP E SEU MANTENEDOR, CUMPRIRAM DEVIDAMENTE O DEVER DE INFORMAÇÃO.</li>-->
<!--        <li>APÓS LER ATENTAMENTE ESTA POLÍTICA, VOCÊ CONSENTE DE MANEIRA LIVRE, INFORMADA, INEQUÍVOCA E EXPRESSA COM ESTA POLÍTICA E ACEITA TODAS AS SUAS DISPOSIÇÕES.</li>-->
<!--    </ol>-->

<!--    <h2>11. Atualizações na Política de Privacidade</h2>-->
<!--    <p>Como estamos sempre buscando melhorar os nossos serviços e a forma como operamos, esta Política de Privacidade pode passar por atualizações para refletir as melhorias realizadas.</p>-->

<!--</scp-tela-base>-->
